/*
 * ************************************************************************
 *
 *  Copyright:       Robert Bosch Power Tools GmbH, 2018 - 2023
 *
 * ************************************************************************
 */

body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

#graphiql {
    height: 100vh;
}